@font-face {
  font-family: 'Righteous';
  src: url(../fonts/Righteous/Righteous-Regular.ttf);
}

@font-face {
  font-family: 'Aktiv Grotesk';
  src: url(../fonts/Aktiv-Grotesk/Aktiv-Grotesk.ttf);
}

html {
  font-size: 16;
}

body {
  background-color: #393E46;
  cursor: default;
  user-select: none;
}

#welcome-div {
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: auto;
  height: auto;
}

#main-title {
  font-family: 'Righteous';
  font-size: 6rem;
  margin-bottom: 15px;
}

#first-title-letter {
  color: #A7D129;
}

#finish-title-word {
  color: #448EF6;
}

.log-sign {
  background-color: inherit;
  color: #448EF6;
  border: 3px solid #448EF6;
  border-radius: 8px;
  font-family: 'Righteous';
  font-size: 2rem;
  margin: 0px 5px;
  padding: 2px 5px;
  /* transition: color 0.4s, background-color 0.4s; */
}

.log-sign:hover {
  cursor: pointer;
  background-color: #448EF6;
  color: #393E46;
}

.log-sign:focus {
  outline: none;
}